body {
    background: red !important;
}
$header-bg-color:#ffab73;
$main-bg-color:#ffaf11;
$footer-bg-color:#73b2ff;
$h-bg-color:#ffeaaa;
$para-fontsize:20px;
*{
    margin: 0px;
    padding: 0%;
    box-sizing:border-box;
}
header{
    background-color: $header-bg-color;
}
nav{
margin-top: 20px;
ul{
list-style-type:none;
li{
display: inline-block;
margin: 0 15px;
a{
display: inline-block;
color: #b011ff;
text-decoration: none;
padding:10px;
transition-duration: 0.4ms;
border-radius: 5px;
}
a:hover{
background-color: black;
}
}
}
}

main{
    background-color: $main-bg-color;
}
footer{
    background-color: $footer-bg-color;
}
#about p{
    font-size: $para-fontsize;
}
#about h2{
    background-color: $h-bg-color;
}
h2{
    background-color: #b011ff;
    color: black;
    margin-top: 10px;
    padding-bottom: 10px;
}
//@forward "reset";//reset ke access korbe
//sob button er kichu common style
button{
    margin: 10px;
    font-size: larger;
    border-color: #ffab73;
}
$primary:aqua;
$secondary:black;
//mixin to avoid repetation
@mixin button-style($bg-color,$text-color){
    background-color: $bg-color;
    color: $text-color;
    &:hover{
        background-color: $text-color;
        color: $bg-color;
    }
}
//mixin diye je code ta likchi setake include korbo 
//extend diye button ke extend korbo
#myButton{
    @include button-style($primary, $secondary);
    @extend button;
}
#myButton2{
    @include button-style($primary, $secondary);
    @extend button;
}
#myButton3{
    @include button-style($primary, $secondary);
    @extend button;
}
//if else use kore akta mixin code create korchi jekhane if else diye check korbe
$button-type:"primary";
@mixin conditional-button-style($type){
    @if $type=="primary"{
    background-color: $primary;
    color: $secondary;
}
    @else if $type=="secondary"{
    background-color: $secondary;
    color: $primary;
    }
}
//buttun 4 er jonno chnage hbe na kichu
#myButton4{
    @include conditional-button-style($button-type);
    @extend button;
}
//loop use kore baki mybutton gulo nibo
@for $i from 5 to 10{
    #myButton#{$i}{
    @include button-style($primary, $secondary);
    @extend button; 
    }
 }
